/* link for colors: https://coolors.co/ede3e4-87bba2-55828b-3b6064-364958 */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EDE3E4;
  color: #364958;
}

.bookEntry {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 20px auto;
}


.textContent {
  width: 60%;
}

.button {
  margin: 10px 10px 10px 0;
  color: #92828D;
}

.extraItem {
  margin: 10px 0;
}

.label {
  font-weight: bolder;
}

.cover-wrapper {
  margin: 20px;
}

.cover {
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.divider {
  width: 75%;
}
